.date-wrapper {
    display: flex;
    justify-content: center;
    flex-grow: 1;
    flex-shrink: 0;
    padding: 15px 10px
}

.time-wrapper {
    display: flex;
    justify-content: center;
    flex-grow: 1;
    flex-shrink: 0;
    padding: 15px 10px;

    svg {
        margin: auto;
    }
}