:root {
  --color-text: rgba(255, 255, 255, 0.87);
  --color-bg: #242424;
  --color-link: #646cff;
  --color-link-hover: #535bf2;
  --color-button-bg: #1a1a1a;
  --color-button-hover-bg: #aeaa99;
  --color-button-hover-border: #392d17;
  --color-table-header-bg: #588157;
  --color-table-header-text: white;
  --color-table-btn-bg: #d7dfc9;
  --color-table-btn-text: black;
  --color-username: rgb(112, 112, 112);
  --color-solid-btn-bg: #398136;
  --color-solid-btn-hover-bg: #375c36;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: var(--color-text);
  background-color: var(--color-bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (prefers-color-scheme: light) {
  :root {
    --color-text: #213547;
    --color-bg: #f4f4f4;
    --color-button-bg: #DAD7CD;
    --color-button-hover-bg: #aeaa99;
    --color-button-hover-border: #7a5413;
    --color-link: green;
    --color-link-hover: rgb(0, 58, 0);
  }
}

body {
  background-color: var(--color-bg) !important;
  width: 100%;
  margin: 0 auto !important;
  place-items: center;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.member-select-nav {
  margin: 0.5rem;
  display: flex;
  justify-content: center;
}

#name-select-nav {
  margin-right: 0.5rem;
}

.page-title {
  text-align: left;
}

.admin-nav {
  display: flex;
  justify-content: end;

  .admin-nav-btn {
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    margin: 0 4px !important;
  }
}

.admin-header {
  display: flex;
  justify-content: space-between;
  padding-bottom: 1rem;
}

.table-header {
  background-color: var(--color-table-header-bg);
  color: var(--color-table-header-text);
}

.btn-outlined {
  border-color: var(--color-link) !important;
  color: var(--color-link) !important;
}

.btn-outlined:hover {
  background-color: unset !important;
  border-color: var(--color-link-hover) !important;
  color: var(--color-link-hover) !important;
}

.MuiDataGrid-row.Mui-selected {
  background-color: #edf2e8 !important;
}

.MuiDataGrid-columnHeaderTitle {
  font-size: medium;
  font-weight: bold !important;
  overflow: visible !important;
}

@media screen and (max-width: 500px) {
  button {
    font-size: small;
  }
}